#focim{
    text-align:center;
    background-color: burlywood;
    max-width: 80%;
    margin: auto;
    min-height: 100px;
}

#focim > h1{
    font-size:xx-large;
    text-decoration: underline;
    font-weight: bold;
}

#focim > h6{
    font-style: italic;
}

#test{
    max-width: 90%;
    margin: auto;
    background-color: rgb(163, 111, 52);
}

.alcim{
    text-decoration: double underline;
}

.forras{
    text-align:right;
    font-style: italic;
}

.forras > a{
    color:white;
    text-decoration: none;
}

.forras > a:hover{
    color:rgb(255, 195, 195);
    text-decoration: underline;
}