@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    background-color: #fbefdb;
}   

nav{
    background-color: #1f5b25;
    padding: 15px;
    position: fixed;
    z-index: 5;
}

nav a{
    color: white;
    margin: 15px;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav a:first-child{
    font-size: 1.5em;
}

nav a:first-child img{
    width: 40px;
}

.banner{
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    color: #1f5b25;
    text-align: center;
}

.kave{
    color: #1f5b25;
    background-color: #fff;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    margin-bottom: 1rem;   
}

.kave:hover{
    box-shadow: 0px 0px 5px #1f5b25;
}

.kave h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}

#napiajanlat{
    width: 40px;
    position: absolute;
    top: 10px;
    right: 20px;    
}