body{
	background-image: url("hatter.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
}
header{
	color: black;
	background-color: lightblue;
	font-size: 20px;
	text-align: center;
}
p{
	text-align: center;
	color: black;
}
h1{
	text-align: center;
}
img{
	height: 250px;
	width: auto;
}