nav ul li{
    display: inline;
    margin-left: 10px;
}
nav ul{
    margin: 0;
}
nav{
    background-color:rgb(31, 91, 37);
    height: 60px;
}
body{
    margin: 0;
}
main{
    background-image: url('Képek/főoldal/back.png');
}